/* breakpoints */
$screen-sm: '640px';
$screen-md: '960px';
$screen-lg: '1440px';

@mixin media($size) {
  @if $size == sm {
    @media (width >= $screen-sm) {
      @content;
    }
  } @else if $size == md {
    @media (width >= $screen-md) {
      @content;
    }
  } @else if $size == lg {
    @media (width >= $screen-lg) {
      @content;
    }
  }
}
